<h2>Partners</h2>

@if (errorMessage) {
  <div class="error-message">
    {{ errorMessage }}
  </div>
}

<br/>
<!-- Formulaire pour ajouter un partenaire -->
<form [formGroup]="partnerForm" (ngSubmit)="addPartner()">
  <div>
    <label for="alias">Alias:</label>
    <input id="alias" formControlName="alias" />
    @if (partnerForm.get('alias')?.invalid && partnerForm.get('alias')?.touched) {
      <div>
        <small>Alias is required</small>
      </div>
    }
  </div>

  <div>
    <label for="type">Type:</label>
    <input id="type" formControlName="type" />
    @if (partnerForm.get('type')?.invalid && partnerForm.get('type')?.touched) {
      <div>
        <small>Type is required</small>
      </div>
    }
  </div>

  <div>
    <label for="direction">Direction:</label>
    <select id="direction" formControlName="direction">
      <option value="INBOUND">INBOUND</option>
      <option value="OUTBOUND">OUTBOUND</option>
    </select>
  </div>

  <div>
    <label for="application">Application:</label>
    <input id="application" formControlName="application" />
    @if (partnerForm.get('application')?.invalid && partnerForm.get('application')?.touched) {
      <div>
        <small>Application is required</small>
      </div>
    }
  </div>

  <div>
    <label for="processedFlowType">Processed Flow Type:</label>
    <select id="processedFlowType" formControlName="processedFlowType">
      <option value="MESSAGE">MESSAGE</option>
      <option value="ALERTING">ALERTING</option>
      <option value="NOTIFICATION">NOTIFICATION</option>
    </select>
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
    @if (partnerForm.get('description')?.invalid && partnerForm.get('description')?.touched) {
      <div>
        <small>Description is required</small>
      </div>
    }
  </div>

  <button type="submit" [disabled]="partnerForm.invalid">Add Partner</button>
</form>

<!-- Liste des partenaires -->
<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Type</th>
      <th>Direction</th>
      <th>Application</th>
      <th>Processed Flow Type</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (partner of partners | paginate: { id: paginationId, itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems  }; track partner) {
      <tr>
        <td>{{ partner.alias }}</td>
        <td>{{ partner.type }}</td>
        <td>{{ partner.direction }}</td>
        <td>{{ partner.application }}</td>
        <td>{{ partner.processedFlowType }}</td>
        <td>{{ partner.description }}</td>
        <td><button (click)="deletePartner(partner.id)">Delete</button></td>
      </tr>
    }
  </tbody>
</table>


<pagination-controls
  paginationId="partners-pagination"
  [id]="'partners-pagination'"
  (pageChange)="pageChanged($event)">
</pagination-controls>
